{% extends "base.html" %}
 
{% block title %}{{ assembly.name }}{% endblock %}
 
{% block content %}
<div id="main" class="product-list">
  <h1>{{ assembly.name }}</h1>
Детали: <br><br>
 <table>
   <tr><th>Наименование</th><th>Кол-во, шт.</th></tr>
    {% for detail in assemblydetails %}
      <tr>
        <td><a href="{% url 'detail_detail' detail.detail.id %}">{{ detail.detail.name }}</a></td>
        <td>{{ detail.amount }}</td>
      </tr>
    {% endfor %}
    </table>
   <br><br><br>
Трудозатраты: <br><br>
 <table>
   <tr><th>Операция</th><th>Кол-во, час.</th></tr>
    {% for labor in assemblylabor %}
      <tr>
        <td>{{ labor.labor.name }}</td>
        <td>{{ labor.time }}</td>
      </tr>
    {% endfor %}
    </table>
    <br><br><br>
Стандартные изделия: <br><br>
 <table>
   <tr><th>Наименование</th><th>Кол-во, шт.</th></tr>
    {% for standarddetail in assemblystandarddetail %}
      <tr>
        <td>{{ standarddetail.standard_detail.name }}</td>
        <td>{{ standarddetail.amount }}</td>
      </tr>
    {% endfor %}
    </table><br><br><br>
    Материалы: <br>
 <table>
   <tr><th>Наименование</th><th>Кол-во</th><th>Ед. изм.</th></tr>
       {% for material in assemblymaterials %}
      <tr>
        <td><a href="{% url 'material_detail' material.material.id %}">{{ material.material.name }}</a></td>
        <td>{{ material.amount }}</td>
        <td>{{ material.material.unit }}</td>
      </tr>
    {% endfor %}
    </table>

     <br><hr><br><br>
</div>
{% endblock %}