{% extends "cost/base.html" %}
 
{% block title %}{{ detail.name }}{% endblock %}
 
{% block content %}
<div id="main" class="product-list">
  <h1>{{ detail.name }}</h1>
Материал: <br>
 <table>
   <tr><th>Наименование</th><th>Кол-во</th><th>Ед. изм.</th></tr>
      <tr>
        <td>{{ detail.material }}</td>
        <td>{{ detail.amount_material  }}</td>
        <td>{{ detail.unit  }}</td>
      </tr>

    </table>

<br><br><br>
Трудозатраты: <br>
 <table>
   <tr><th>Наименование</th><th>Кол-во, час</th></tr>
    {% for detail in detail_labors %}
      <tr>
        <td>{{ detail.labor }}</td>
        <td>{{ detail.time }}</td>
      </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}