{% extends "cost/base.html" %}
 
{% block title %}{{ detail.name }}{% endblock %}
 
{% block content %}
<div id="main" class="product-list">
  <h1>{{ detail.name }}</h1>
Материал: <br>
 <table>
   <tr><th>Наименование</th><th>Кол-во</th><th>Ед. изм.</th></tr>
       {% for detail in detail_materials %}
      <tr>
        <td><a href="{% url 'material_detail' detail.material.id %}">{{ detail.material.name }}</a></td>
        <td>{{ detail.amount }}</td>
        <td>{{ detail.material.unit }}</td>
      </tr>
    {% endfor %}

    </table>

<br><br><br>
Трудозатраты: <br>
 <table>
   <tr><th>Наименование</th><th>Кол-во, час</th></tr>
    {% for detail in detail_labors %}
      <tr>
        <td>{{ detail.labor }}</td>
        <td>{{ detail.time }}</td>
      </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}