{% extends "cost/base.html" %}
 
{% block title %}{{ product.name }}{% endblock %}
 
{% block content %}
<div id="main" class="product-list">
  <h1>{{ product.name }}</h1>
Сборочные единицы: <br><br>
 <table>
   <tr><th>Наименование</th><th>Кол-во, шт.</th></tr>
    {% for assembly in productassemblies %}
      <tr>
        <td><a href="{% url 'assembly_detail' assembly.assembly.slug %}">{{ assembly.assembly }}</a></td>
        <td>{{ assembly.amount_assemblies }}</td>
      </tr>
    {% endfor %}
    </table>
   <br><br><br>


Детали: <br><br>
 <table>
   <tr><th>Наименование</th><th>Кол-во, шт.</th></tr>
    {% for detail in productdetails %}
      <tr>
        <td><a href="{% url 'detail_detail' detail.detail.id %}">{{ detail.detail.name }}</a></td>
        <td>{{ detail.amount_details }}</td>
      </tr>
    {% endfor %}
    </table>
   <br><br><br>
Трудозатраты: <br><br>
 <table>
   <tr><th>Операция</th><th>Кол-во, час.</th></tr>
    {% for product in productlabor %}
      <tr>
        <td>{{ product.labor.name }}</td>
        <td>{{ product.time }}</td>
      </tr>
    {% endfor %}
    </table>
    <br><br><br>
Стандартные изделия: <br><br>
 <table>
   <tr><th>Наименование</th><th>Кол-во, шт.</th></tr>
    {% for product in productstandarddetail %}
      <tr>
        <td>{{ product.standard_detail.name }}</td>
        <td>{{ product.amount_standard_details }}</td>
      </tr>
    {% endfor %}
    </table>
 <br><hr><br><br>
</div>

{% endblock %}