{% extends "cost/base.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<div id="main" class="product-list">
  <h2>{{ product.name }}</h2><br>
    <a href="{% url 'product_count' product.slug %}">Подробный расчет всех затрат</a><br><br>
Сборочные единицы: <br>
<table>
   <tr><th>Наименование</th><th>Кол-во, шт.</th></tr>
    {% for assembly in productassemblies %}
      <tr>
        <td><a href="{% url 'assembly_detail' assembly.assembly.slug %}">{{ assembly.assembly }}</a></td>
        <td>{{ assembly.amount }}</td>
      </tr>
    {% endfor %}
</table>
   <br><br>
Детали: <br>
<table>
   <tr><th>Наименование</th><th>Кол-во, шт.</th></tr>
    {% for detail in productdetails %}
      <tr>
        <td><a href="{% url 'detail_detail' detail.detail.id %}">{{ detail.detail.name }}</a></td>
        <td>{{ detail.amount }}</td>
      </tr>
    {% endfor %}
</table>
   <br><br>
Трудозатраты: <br>
<table>
   <tr><th>Операция</th><th>Кол-во, час.</th></tr>
    {% for product in productlabor %}
      <tr>
        <td>{{ product.labor.name }}</td>
        <td>{{ product.time }}</td>
      </tr>
    {% endfor %}
</table>
    <br><br>
Стандартные изделия: <br>
<table>
   <tr><th>Наименование</th><th>Кол-во, шт.</th></tr>
    {% for product in productstandarddetail %}
      <tr>
        <td>{{ product.standard_detail.name }}</td>
        <td>{{ product.amount }}</td>
      </tr>
    {% endfor %}
</table>
    <br><hr><br>
</div>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Submit" />
</form>
{% endblock %}